<!DOCTYPE html>
<html>
<head>
    <title>Fonteyn HRM</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <header>
        <h1>Fonteyn HRM</h1>
    </header>
    <div class="container">
        <h1>Welcome to Fonteyn HRM</h1>
        <p class="centered-text">Manage your HR needs with ease—access employee details, departments, positions, payroll, and attendance all in one place.</p>
        <p><a href="/employees">Employees  testing deployment</a></p>
        <p><a href="/departments">Departments </a></p>
        <p><a href="/positions">Positions</a></p>
        <p><a href="/payroll">Payroll</a></p>
        <p><a href="/attendance">Attendance</a></p>
    </div>
</body>
</html>